<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">

            <div class="row g-3 mt-4">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center text-primary">
                    <h2>STUDENT SEARCH</h2>
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                    <label for="" class="form-label"><h5>ADMISSION NUMBER</h5></label>
                    <input name="admno" [(ngModel)]="admno" type="text" class="form-control">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="read()" class="btn btn-success"><h4>Submit</h4></button>
                </div>
            </div>

            <div class="row g-3 mt-4" *ngFor="let j of searchdata">
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">STUDENT NAME</label>
                    <input type="text" class="form-control " value="{{j.name}}">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">COLLEGE NAME</label>
                        <input type="text" class="form-control" value="{{j.college}}">
                </div>
                <div class="col col-12 col-sm-6 col-md-6 col-lg-6 col-xl-6 col-xxl-6">
                    <label for="" class="form-label">ROLL NUMBER</label>
                        <input type="text" class="form-control" value="{{j.rollno}}">
                </div>
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 text-center">
                    <button (click)="delete(j.id)" class="btn btn-danger"><h4>Delete</h4></button>
                </div>
            </div>

        </div>
    </div>
</div>


